@charset "UTF-8";

/*1024x768*/

body {
	background:rgb(17,25,38);
	/*background:-webkit-radial-gradient(center, ellipse cover,  rgba(85,90,95,0.6) 0%,rgba(17,25,38,1) 100%);*/
}

/*********************************************
 * SLIDES
 *********************************************/

.reveal .slides {
	position: absolute;
	max-width: 1000px;
	width: 90%;
	top: 43%;
/*
	margin-top:-380px;
	max-width:1024px;
	max-height:768px;
	width:80%;
	*/
}

h3.inverted {
	margin:0 0 50px 0;
	text-transform:none;
}

.bonsai-container {
	overflow: auto;
}
/*
  ">" selector is important because every "contenteditable-row" is enclosed
  by a div in chrome.
*/
.bonsai-container>div {
	width:46%;
	padding:2%;
	float:left;
	height:600px;
}
.bonsai-stage {
	padding-right:0;
}
.bonsai-code {
	white-space:pre;
	text-align:left;
	overflow-y:scroll;
	font-size:18px;
	line-height:46px;
	font-family:'inconsolata';
	outline:none;
}

/*********************************************
 * BONSAI EDITOR HIGHLIGHTING
 *********************************************/

.bonsai-code .keyword {
	color:rgb(236,197,72);
}

.bonsai-code .bonsaiDisplayObjects {
	color:rgb(255, 215, 2);
	font-weight:bold;
}

.bonsai-code .bonsaiMethods {
	color:rgb(70, 146, 0);
	font-weight:bold;
}

.bonsai-code .bonsaiAttr {
	color:rgb(102, 200, 255);
	font-weight:bold;
}

.bonsai-code .bonsaiStage {
	color:rgb(31, 219, 166);
}

/*********************************************
 * BONSAI THEME
 *********************************************/

.theme-beige body {
	color: #333;
	background:none;
}

.runner-front .state-background {
	background: rgb(97,177,66);
}

.renderer-front .state-background {
	background: rgb(253,100,69);
}

.reveal section img {
	background: none;
	border:none;
	-webkit-box-shadow:none;
	-webkit-transition:none;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	color: white;
	text-shadow: none;
	text-transform: none;
	margin-bottom:3%;
	font-family:'freight-sans-pro';
	font-style:normal;
	font-weight:400;
}

li, p {
	font-family:'freight-sans-pro';
	font-style:normal;
	font-weight:400;
}

.reveal h1 {
	margin-top:30%;
}

.reveal a,
.reveal a:hover,
.reveal .controls .enabled,
.reveal a:not(.image),
.reveal .roll {
	color:#26ab92;
	-webkit-transition: none;
	-webkit-perspective-origin:initial;
}

.reveal .progress span,
.reveal .roll span:after {
	background: #8b743d;
}

.reveal a.image:hover img {
	border-color: #8b743d;
}

.reveal ul {
	margin-bottom:3%;
}
.reveal ul {
	line-height:1.5em;
}

.reveal pre {
	line-height:46px;
	font-family:'inconsolata';
	text-align: center;
}


/*********************************************
 * CODE HIGHLIGHTING
 *********************************************/

.inlineCode {
	padding:1px 10px;
	background-color:rgb(44, 52, 62);
	border-radius:5px;
	border:1px solid rgb(133, 133, 133);
	display: inline-block;
	line-height:1;
}

.listedCode {
	line-height:46px;
	font-size:30px;
	background-color:#2c343e;
	border-radius:10px;
	padding: 2%;
	width: 96%;
}
.listedCode li {
	list-style-type: none;
	font-family:'inconsolata';
	line-height:1em;
}

.listedCode .bonsai-container {
	margin: 2% 0 1% 0;
	background-color:rgb(17,25,38);
}

.listedCode .comment {
	color:rgb(156,156,156);
}
.listedCode .instance {
	color:rgb(209, 192, 90);
}
.listedCode .inst-method {
	color:rgb(85, 175, 196);
}
.listedCode .aString {
	color:rgb(255, 95, 76);
}
.listedCode .stage {
	color:rgb(130, 200, 95);
}
.reveal .listedCode a, .reveal a:not(.image) .listedCode {
	text-decoration: none;
	color:black;
	-webkit-transition:none;
}
