<!doctype html>

<meta charset="utf-8" />
<link rel="stylesheet" href="{{site.baseurl}}/assets/pygment.css" />
<link rel="stylesheet" href="{{site.baseurl}}/assets/main.css" />

<title>Bonsai documentation - {{page.title}}</title>

<body>

	<div id="nav">
		<h1><a href="/">Bonsai</a></h1>
		<h2>Overview</h2>
		<ul>
			<li><a {% if '/index.html' == page.url or '/' == page.url %}class="active"{% endif %} href="{{site.baseurl}}/">Introduction</a></li>
			{% for p in site.pages %}
				{% unless p.title == 'Introduction' %}
					<li><a {% if p.url == page.url %}class="active"{% endif %} href="{{site.baseurl}}{{p.url}}">{{p.title}}</a></li>
				{% endunless %}
			{% endfor %}
		</ul>
		<h2>API: Modules</h2>
		<ul>
			{% for p in site.categories.Module %}
				<li><a {% if p.url == page.url %}class="active"{% endif %} href="{{site.baseurl}}{{p.url}}">{{p.title}}</a></li>
			{% endfor %}
		</ul>
		<h2>API: Classes</h2>
		<ul>
			{% for p in site.categories.Class %}
				<li><a {% if p.url == page.url %}class="active"{% endif %} href="{{site.baseurl}}{{p.url}}">{{p.title}}</a></li>
			{% endfor %}
		</ul>
		<h2>API: Mixins</h2>
		<ul>
			{% for p in site.categories.Mixin %}
				<li><a {% if p.url == page.url %}class="active"{% endif %} href="{{site.baseurl}}{{p.url}}">{{p.title}}</a></li>
			{% endfor %}
		</ul>
	</div>

	<script src="{{site.baseurl}}/lib/ace/ace-noconflict.js"></script>
	<script src="http://code.jquery.com/jquery-1.7.1.js"></script>
	<script src="{{site.baseurl}}/lib/bonsai/bonsai.iframe.js"></script>
	<script src="{{site.baseurl}}/assets/doc.js"></script>

	<div id="content" class="{% if page.categories contains 'jsdoc' %}jsdoc{% endif %}">
		<h2>{{page.title}}</h2>
		{{content}}
	</div>

	<script>
		doc.init();
	</script>

</body>
